@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

.header {
    height: 800px;
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8)), url(3.jpg);
    background-size: cover;
}

.home-menu {
    width: 100%;
    height: 150px;
    display: flex;
    position: relative;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.menu {
    width: 70%;
    display: flex;
    align-items: center; 
    justify-content: center;  
}

.menu li {
    list-style: none;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
    color: white;
    font-family: 'Mukta', sans-serif;
}

.menu a:hover {
    color: orange;
}

.content {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content-des {
    width: 70%;
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content-des p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    padding: 0px;
    margin: 0px;
}

.content-button {
    width: 70%;
    height:50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content-button a {
    margin: 15px 30px 0px 0px;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-family: 'Mukta', sans-serif;
    border: 1px solid rgb(219, 132, 0);
    color: rgb(219, 132, 0);
    transition: color 0.25s, background-color 0.25s;
}

.content-button a:hover {
    color: white;
    background-color: rgb(219, 132, 0);
    transition: color 0.25s, background-color 0.25s;
}

#spe-cont {
    color: white;
    background-color: rgb(219, 132, 0);
    transition: color 0.25s, background-color 0.25s;
    
}

#spe-cont:hover {
    color: rgb(231, 231, 231);
    background-color: rgb(202, 121, 0);
    border: 1px solid rgb(202, 121, 0);
    transition: color 0.25s, background-color 0.25s;
}

.body-intro {
    width: 100%;
    height: 600px;
}

.body-intro .head {
    width: 100%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

}

.body-intro .title {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.body-intro .title p {
    padding-top: 30px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
}

.body-intro .title p::after {
    display: block;
    height: 3px;
    background-color: orange;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.body-intro .des {
    width: 50%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.body-intro .des p {
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.body-intro .head_2 {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.head_2 .table {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.head_2 .table .section {
    width: 22%;
}

.icon {
    color: orange;
    font-size: 60px;
}

#tit {
    font-size: 20px;
    padding: 15px 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.list-img li {
    width: 25%;
    float: left;
    overflow: hidden;
}

.list-img img {
    width: 100%;
    background-color: black;
    height: auto;
    opacity: 0.85;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.list-img li img:hover {
    opacity: 1;
    transform: scale(1.05);
    transition: transform 0.5s, opacity 0.5s;
}

.app_part {
    width: 100%;
    height: 500px;
}